/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    margin: 20px 0;
}

.btn-container {
    display: inline-block;
    margin-top: 20px;
}

.line-one, .line-two {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.btn {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #aaa;
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}
